	.gray-bg{
		background: #f0f5f5;
	}
	
	.img-edit:hover {
		background-color: #3385ff;
	}
	
	
	
	
	
	
	.login-popup {
	display:none;
	background: #fff;	
	border: 2px solid #ddd;
	float: left;
	padding: 10px;
	color:gray;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
	width:450px;
	height:300px;
	}
	
	
	.login-popup1 {
	display:none;
	background: #fff;	
	border: 2px solid #ddd;
	float: left;
	padding: 10px;
	color:gray;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
	width:250px;
	height:200px;
	}
	
	
	
	
	
	.navbar-head {
      margin-bottom: 0px;
      border-radius: 0;
	  background-color: #ffffff;
	  height:6em;
	  color:#0077b3;
	  }
	.caption {
	    -webkit-font-smoothing: antialiased;
        width:100%;
        top: 13em;
        position: absolute;
        padding: 10px 12px 10px 35px;
		font-size:14px;
        font-weight: 700;
		color:white;
		opacity:0;
		
    }
	
	.caption:hover {
		opacity:1;
	}
	
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1100px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 40px;
      background:  #0a0f0f ;
	  height: 120%;
	
	  
    }
    .sidenav a{
	color:white;
	  text-decoration:none;
	}
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	.header {
		width:100%;
		height:10em;
		padding-top:1em;
		color:black;
		
	}
	.top-color{
		width:100%;
		height:10em;
		padding-top:1em;
		background:	#3399ff;
		
	}
	.body-bg{background:	#f0f5f5;}
	.top-text{
		font-weight:600;
		font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
		font-size: 50px;
		
	}
	
	.header-text{
		font-weight:600;
		font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
		font-size: 30px;
		
	}
	.nav-tabs li.active a {
		border-left-color: gainsboro;
		border-right-color: gainsboro;
		border-top-color: gainsboro;
	}
	
	.nav-tabs li.active a:after {
		background-color: #55a747;
		border-radius: 1px 1px 0px 0px;
		content: '';
		display: block;
		height: 2px;
		left: -1px;
		position: absolute;
		right: -1px;
		top: -1px;
   }
	.row.content {
	height: 1100px;
	}
	.vheight6 {
	top:6em;
	}
	.vheight5 {
	top:5em;
	}
	.vheight4 {
	top:4em;
	}
	.vheight3 {
	top:3em;
	}
	.vheight2 {
	top:2em;
	}
	.vheight1 {
	top:1em;
	}
	.white-bg {
	background:#ffffff;
	}
	.htext {
	color:  #3352A3;
	font-weight:600;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	}     
	
 
    #heading
    {
    color:black;
    }